#final-category-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.new-category-row {
  display: flex;
  gap: 10px;

  @media only screen and (max-width: 992px) {
    flex-direction: column;
  }
}
