<div id="final-category-container" *ngIf="finalCategories.length > 0">
  <app-category *ngFor="let category of finalCategories" [category]="category"></app-category>
  <button mat-stroked-button *ngIf="finalCategories.length === 4" (click)="submitPuzzle()">Submit Puzzle</button>
</div>
<div class="new-category-row" *ngIf="finalCategories.length < 4" [formGroup]="newCategoryGroup">
  <mat-form-field>
    <mat-label>Words</mat-label>
    <input matInput formControlName="newCategoryWords" oninput="this.value = this.value.toUpperCase()" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput formControlName="newCategoryName" oninput="this.value = this.value.toUpperCase()" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Difficulty</mat-label>
    <mat-select formControlName="newCategoryDifficulty">
      <div *ngFor="let color of colorToCSSColorMap.keys()">
        <mat-option *ngIf="!hasColorBeenUsed.get(color)" [value]="color" required>
          {{ color }}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <button mat-fab color="basic" (click)="createFinalCategory()">
    <mat-icon>add</mat-icon>
  </button>
</div>
