#successful-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 100px;
}

#category, #words {
  color: white;
  font-weight: bold;
}
