@import '@angular/material/prebuilt-themes/indigo-pink.css';

#app-container {
  padding: 10px 10px;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

mat-tab-group {
  min-width: 0%;
}

.play-puzzle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;

  .grid-container {
    display: flex;
    justify-content: center;
    app-grid {
      align-self: center;
    }
  }
}

#create-puzzle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;

  app-create-puzzle {
    align-self: center;
  }
}
